/* From http://pangrampangram.com/charlevoix-pro/ */
@font-face{
	font-family: charl;
	src: url("fonts/charl.otf") format("opentype");
}

/* From https://www.behance.net/gallery/30453085/Arciform-Free-Typeface */
@font-face{
    font-family: arc;
    src: url("fonts/arciform.otf") format("opentype");
}

fieldset{
	margin-top:15px;
	margin-bottom:15px;
}

body{
	color:#eeeeee;
}

h1{
	color:#eeeeee;
}

.arc{
	font-family: arc;
}

.charl{
	font-family: charl;
}

.big{

	font-size: 120%;
}

/* label color */
   .input-field label {
     color: #eeeeee;
   }
   .input-field .active{
	   color: #ffa726 !important;
   }
   /* label focus color */
   .input-field input:focus + label, .input-field textarea:focus + label {
     color: #ffa726 !important;
   }
   /* label underline focus color */
   .input-field input:focus, .input-field textarea:focus{
     border-bottom: 1px solid #ffa726 !important;
     box-shadow: 0 1px 0 0 #ffa726 !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid green !important;
     box-shadow: 0 1px 0 0 green !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red !important;
     box-shadow: 0 1px 0 0 red !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ffa726 !important;
   }
   
[type="checkbox"]:checked+label:before{
	border-right: 2px solid #ffa726;
	border-bottom: 2px solid #ffa726;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #ffa726;
	background-color: #ffa726;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #eeeeee;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
	border: 2px solid #eeeeee;
}

.boxes label{
	color: #eeeeee;
}

.btn{
	color: #424242;
	margin-bottom: 15px;
}

button{
	margin-bottom: 5px;
}

td, table{
	border: 1px solid #eeeeee;
}

table{
	margin-bottom: 25px;
}

button.save_button{
  display: none;
}

.questiontitle{
	font-size: 200%;
	margin-top: 25px;
	margin-bottom: 5px;
}